* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(255, 98, 0);
  color: white;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

main {
  padding-top: 150px;
}

span {
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  text-decoration: underline;
}

.title {
  font-weight: bolder;
}

.discount-price {
  color: red;
  font-weight: 600;
}

.real-price {
  font-weight: 500;
  text-decoration: line-through;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col {
  width: calc(100% / 3 - 40px / 3);
}

.col-20 {
  width: 20%;

}

.col-60 {
  width: 60%;
}

.card {
  position: relative;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.front-image {
  display: block;
}

.back-image {
  display: none;
}

.card:hover .front-image {
  display: none;
  cursor: pointer;
}

.card:hover .back-image {
  display: block;
  cursor: pointer;

}

ul {
  list-style: none;
  gap: 10px;
}

header ul {
  display: flex;
  justify-content: center;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

header img {
  height: 40px;
}

header .container {
  display: flex;
}

.card img {
  width: 100%;
  height: 100%;
}

.badge {
  position: absolute;
  bottom: 60px;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.icons a {
  color: white;
  text-decoration: none;
}

.favourite {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 2.5rem;
  background-color: white;
  padding: 5px 20px;
}

.favourite:hover {
  color: red;
  cursor: pointer;
}

.discount {
  padding: 10px;
  color: white;
}

.tag {
  padding: 10px;
  color: white;
}